/JustEat.WebSite/JustEat.Test/bin/Debug
/JustEat.WebSite/JustEat.Abstract/bin/Debug
/JustEat.WebSite/JustEat.Abstract/obj/Debug
/JustEat.WebSite/JustEat.Core/obj/Debug
/JustEat.WebSite/JustEat.Implementation/bin/Debug
/JustEat.WebSite/JustEat.Implementation/obj/Debug
/JustEat.WebSite/JustEat.SetUp/bin/Debug
/JustEat.WebSite/JustEat.Core/bin/Debug
/JustEat.WebSite/JustEat.SetUp/obj/Debug
/JustEat.WebSite/JustEat.Test/obj/Debug
/JustEat.WebSite/JustEat.WebSite/bin
/JustEat.WebSite/JustEat.WebSite/obj/Debug
